* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;  
    display: flex;
    flex-direction: column;

}

header {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 20px;
}

header h1 {
    margin-right: auto;
}

header button {
    margin-right: calc(100vw/2);
}

#library {
    margin: 100px;
    height: min-content;

    /* border: 1px solid salmon; */
}

.bookPlaced {
    height:200px;
    width: 200px;
    border: 1px solid saddlebrown;
}

.libraryContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}