* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#library {

    height: 80%;
    width: 80%;
    border: 1px solid salmon;
}

.bookPlaced {
    height:200px;
    width: 200px;
    border: 1px solid saddlebrown;
}