* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --libraryWidth: calc(100vw -200px);

}

#mybody {
    height: 100vh;  
    display: flex;
    flex-direction: column;

}

dialog {
    margin: auto;
    height: calc(100vh/2);
    width: calc(100vh/2);
}

.dialogcontainer {
    display: flex;
    flex-direction: column;
}

#closedlg{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    background-color: rgba(221, 78, 78, 0.8);
    color: white;
    height: 30px;
    width: 30px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border: 0;
    border-radius: 100px;
}

dialog h1 {
    align-self: center;
}

form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form .checkboxdiv, .checklabeldiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

form div > input {
    height: 30px;
    width: 150%;
    padding-left: 20px;
    border-radius: 10px;
}

#submit {
    padding: 10px;
    border-radius: 20px;
    width: 20%;
}

header {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 20px;
}

header h1 {
    margin-right: auto;
}

header button {
    margin-right: calc(100vw/2);
}

#library {
    margin: 100px;
    height: min-content;
    width: var(--libraryWidth);

/* 
    border: 1px solid salmon; */
}

.bookPlaced {
    padding: 20px;
    height: 450px;
    width: 150px;
    border: 1px solid saddlebrown;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.checklabeldiv{
    margin-bottom: auto;
}

.bookPlaced button {
    border: 0;
    border-radius: 10px;
    background-color: rgba(221, 78, 78, 0.8);
    color: white;
}

button, form #bookread, .bookread1 {
    cursor: pointer;
}

#clickme {
    border: 0;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(100, 149, 237, 0.6);
    
}

main {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.1);
}


footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    background-color: rgba(31, 41, 55, 0.8);
    padding: 16px;
    justify-content: center;
    height: fit-content;
    flex-grow: 0;
    color: white;
}

.libraryContainer {
   
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
}
